{% extends 'index.html' %}
{% load static %}
{% block body %}

<section id="hero" class="d-flex align-items-center">
    <div class="container">
      
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://youtu.be/kOISEM6L4xk" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>About Blood Donor Services
            </h3>
            <p> Dedicated to saving lives through blood donation. We bridge donors and recipients, ensuring a stable blood supply. Safety, efficiency, and integrity are our priorities. Our passionate team organizes drives and raises awareness. Join us in our mission to save lives. Welcome to Blood Donor Services.</p>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">What does general health mean?</a></h4>
              <p class="description">The state of health of the body as a whole, or of a community.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">How many types of blood groups are there?</a></h4>
              <p class="description">The most commonly known blood group system is the ABO system, which classifies blood into four main types: A, B, AB, and O. Additionally, the Rh factor, also known as the Rhesus factor, is another important determinant of blood type.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">What is the importance of a healthy blood bank management system?</a></h4>
              <p class="description">Maintaining a robust blood bank management system is crucial for the timely availability of safe blood products. It helps prevent shortages, ensures efficient donation processing, and contributes to the overall well-being of the community by meeting medical requirements and emergencies.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctors</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hospitals</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Research Labs</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Successful requests</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

<!-- ======= Hospitals Section ======= -->
<section id="hospitals" class="hospitals">
  <div class="container">

    <div class="section-title">
      <h2>Hospitals</h2>
      <p>Explore our specialized healthcare services offered by our hospitals.</p>
    </div>

    <div class="row g-4">

      <!-- AIIMS -->
      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <img src="static/img/Aiims.jpg" alt="AIIMS Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">AIIMS</a></h4>
          <p>All India Institute of Medical Sciences (AIIMS) is a premier medical institution.</p>
        </div>
      </div>

      <!-- MAX Hospital -->
      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <img src="static/img/Max.jpg" alt="MAX Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">MAX Hospital</a></h4>
          <p>MAX Hospitals provide comprehensive healthcare services with state-of-the-art facilities.</p>
        </div>
      </div>

      <!-- APOLLO Hospital -->
      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <img src="static/img/Apollo.jpg" alt="APOLLO Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">APOLLO Hospital</a></h4>
          <p>APPOLO Hospitals are known for their excellence in healthcare and medical expertise.</p>
        </div>
      </div>

      <!-- Common container for Additional Hospitals -->
      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <!-- Safdarjung Hospital -->
            <img src="static/img/safdurjung.jpg" alt="Safdarjung Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">Safdarjung Hospital</a></h4>
          <p>Safdarjung Hospital is the largest hospital under the Ministry of Health and Family Welfare and is well known for its quality of services to all strata of society since pre-independence days.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <!-- Fortis Hospital -->
            <img src="static/img/Fortis.jpg" alt="Fortis Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">Fortis Hospital</a></h4>
          <p>Fortis vashi boasts excellent facilities, with a courteous and polite staff dedicated to maintaining high standards of hygiene and sanitation.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <img src="static/img/Rotary_blood_bank.jpg" alt="AIIMS Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">Rotary Blood Bank</a></h4>
          <p>For over hundred years Rotary has been in public domain working on alternatives leading to socio economic development of the under development countries worldwide.Rehabilitation of victims of natural disasters, Life saving projects like Cancer Hospital in AIIMS, 
            Blood Bank in Delhi, Noida and Faridabad are glaring examples of service above self..</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <!-- Metro Hospital -->
            <img src="static/img/Metro.jpg" alt="Metro Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">Metro Hospital</a></h4>
          <p>Metro multispeciality Hospital is one of the Best multispeciality hospital in India.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <img src="static\img\gallery\metro_blood_bank.jpeg" alt="Metro Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">Metro Blood Bank Daga memorial</a></h4>
          <p>Metro multispeciality Hospital is one of the Best multispeciality hospital in India</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hospital-box">
          <div class="hospital-img-container">
            <img src="static\img\gallery\red_cross.png" alt="Metro Image" class="img-fluid rounded">
          </div>
          <h4><a href="#">Red Cross Society</a></h4>
          <p>The foundation of Red Cross was laid in 1859 by Sir Jean Henry Dunant, a Swiss Citizen. The primary aim of the Foundation was to provide the First Aid to the wounded soldiers as well as all possible assistance to the victims of natural/man made disaster thus alleviating the human suffering.</p>
        </div>
      </div>

      

    </div>
  </div>
</section>
    <!-- End Services Section -->

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Make an Appointment  <span style="font-size:13px"></span> </h2>
          <p>General health needs include health promotion, preventive care (immunization, general health screening), treatment of acute and chronic illness, and appropriate referral for more specialized needs where required.</p>
        </div>

        <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group mt-3">
              <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="Hospital" id="Hospital" class="form-select">
                <option value="">Select Hospital</option>
                <option value="Hospital 1">Hospital 1</option>
                <option value="Hospital 2">Hospital 2</option>
                <option value="Hospital 3">Hospital 3</option>
              </select>
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group mt-3">
              <select name="doctor" id="doctor" class="form-select">
                <option value="">Select Doctor</option>
                <option value="Doctor 1">Doctor 1</option>
                <option value="Doctor 2">Doctor 2</option>
                <option value="Doctor 3">Doctor 3</option>
              </select>
              <div class="validate"></div>
            </div>
          </div>

          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Make an Appointment</button></div>
        </form>

      </div>
    </section><!-- End Appointment Section -->

    {% comment %} <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Departments</h2>
          <p>General health needs include health promotion, preventive care (immunization, general health screening), treatment of acute and chronic illness, and appropriate referral for more specialized needs where required.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Neurology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Hepatology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Pediatrics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Eye Care</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cardiology</h3>
                    <p class="fst-italic">Our Cardiology Department is dedicated to providing comprehensive care for your heart health.</p>
                    <p>Our team of experienced cardiologists specializes in the diagnosis and treatment of various cardiovascular conditions. From preventive care and risk assessment to advanced interventions, we are committed to keeping your heart in optimal condition.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-1.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Neurology</h3>
                    <p class="fst-italic">Our Neurology Department focuses on providing expert care for disorders of the nervous system.</p>
                    <p>Our neurologists are dedicated to diagnosing and treating a wide range of neurological conditions, from headaches and migraines to more complex disorders. We utilize advanced technologies to ensure accurate diagnosis and personalized treatment plans.</p>
                </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-2.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hepatology</h3>
                    <p class="fst-italic">Our Hepatology Department specializes in the diagnosis and management of liver diseases.</p>
                    <p>Our hepatologists are experts in liver care, providing comprehensive services ranging from liver disease prevention and screening to the treatment of liver disorders. We are dedicated to promoting liver health and well-being.</p>
                </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-3.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pediatrics</h3>
                    <p class="fst-italic">Our Pediatrics Department is committed to providing compassionate and comprehensive care for children.</p>
                    <p>Our pediatricians focus on the unique healthcare needs of infants, children, and adolescents. From routine check-ups to specialized care, we prioritize the health and well-being of the youngest members of our community.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-4.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row gy-4">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Eye Care</h3>
                    <p class="fst-italic">Our Eye Care Department is dedicated to preserving and improving your vision.</p>
                    <p>Our ophthalmologists provide comprehensive eye care services, from routine eye exams to advanced surgical interventions. We are committed to ensuring the health of your eyes and enhancing your overall visual well-being.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/departments-5.jpg' %}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section -->

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Doctors</h2>
          <p>General health needs include health promotion, preventive care (immunization, general health screening), treatment of acute and chronic illness, and appropriate referral for more specialized needs where required.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'img/doctors/doctors-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Medical Officer</span>
                <p>Dr. Walter White serves as our Chief Medical Officer, bringing a wealth of experience and expertise to our healthcare team. His dedication to patient care and leadership skills make him an invaluable member of our organization.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'img/doctors/doctors-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>               
                <p>Dr. Sarah Jhonson is our dedicated Anesthesiologist, providing expert care in perioperative medicine. Her commitment to ensuring patient comfort and safety makes her an integral part of our surgical team.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'img/doctors/doctors-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
                <p>Dr. William Anderson specializes in cardiology, providing comprehensive care for patients with heart-related conditions. His expertise in cardiovascular medicine contributes to our commitment to cardiac health.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'img/doctors/doctors-4.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
                <p>Dr. Amanda Jepson, our skilled Neurosurgeon, is dedicated to providing advanced neurological care. Her expertise in neurosurgery contributes to our commitment to the well-being of patients with neurological disorders.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section --> {% endcomment %}

<!-- Frequently Asked Questions Section -->
<section id="faq" class="faq section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>Explore common questions about our Blood Bank Management System. If you have any additional inquiries, feel free to contact us.</p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How does the Blood Bank Management System ensure the safety and availability of blood products? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              Our Blood Bank Management System employs rigorous protocols to ensure the safety, traceability, and availability of blood products. This includes thorough screening, testing, and storage practices to meet the highest standards of blood transfusion safety.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What information is required for blood donation registration in the system? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              To register for blood donation, individuals need to provide essential information such as personal details, contact information, and medical history. This information helps in assessing donor eligibility and ensures the safety of both donors and recipients.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How can hospitals and clinics integrate with the Blood Bank Management System? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Integration with our Blood Bank Management System is designed to be seamless. Hospitals and clinics can reach out to our technical support team for guidance on the integration process. We provide comprehensive documentation and support to facilitate a smooth integration experience.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How does the system handle blood inventory management and expiration tracking? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Our Blood Bank Management System includes robust features for inventory management and expiration tracking. It automates inventory updates, alerts staff about approaching expiration dates, and ensures efficient usage of blood products to minimize wastage.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How can I request support or get more information about the Blood Bank Management System? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>
              If you have any additional questions, need technical support, or require more information about our Blood Bank Management System, please don't hesitate to contact our support team. We are dedicated to assisting you and providing the information you need.
            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>


    {% comment %} <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Imagine a remedy that genuinely helps and brings a sense of dignity. It's like a trustworthy companion, always there to support and comfort you. Think of it as a reliable friend, standing by your side through thick and thin.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Sometimes, challenges and difficulties arise in our work. However, they are like temporary obstacles that we can overcome with perseverance and effort. It's essential to view them as opportunities for growth and learning."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Being a store owner involves various aspects, from exporting goods to managing day-to-day operations. It requires dedication and hard work. Every challenge is an opportunity to enhance our skills and make progress in our business journey."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "As a freelancer, I embrace the challenges that come my way. Overcoming obstacles, learning from experiences, and delivering quality work are integral parts of my journey. Each project is an opportunity to grow and showcase my skills with passion."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Being an entrepreneur is about more than just business – it's a journey of vision, perseverance, and creating impact. I strive to lead with purpose, making meaningful decisions that not only contribute to success but also inspire those around me. Together, we build a legacy."
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section --> {% endcomment %}

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>General health needs include health promotion, preventive care (immunization, general health screening), treatment of acute and chronic illness, and appropriate referral for more specialized needs where required.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-1.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-2.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-3.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-4.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-5.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-6.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-7.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-8.jpg' %}" class="galelry-lightbox">
                <img src="{% static 'img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
          {% comment %} <p>General health needs include health promotion, preventive care (immunization, general health screening), treatment of acute and chronic illness, and appropriate referral for more specialized needs where required.</p> {% endcomment %}
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14006.577232489019!2d77.27447021586914!3d28.640420693379475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfcbcc069963d%3A0x86b7aff17d0e3bb3!2sShastri%20Nagar%2C%20Geeta%20Colony%2C%20Delhi%2C%20110031!5e0!3m2!1sen!2sin!4v1702486549185!5m2!1sen!2sin " width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        {% comment %} <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe> {% endcomment %}
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Sonpur, saran, Bihar</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>vishalkumar.itcsgmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91-7991198925</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Feedback</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

{% endblock %}